
/**
* Import Mixins to provide modules with exports.
* List other required modules here.
*/

@import "component.mixins";

/*------------------------------------*\

/**
* Variables
*/


/*------------------------------------*\

/**
* @title Lists
*/


/**
*   All Logic pertaining to the top back horizontal navigation
*   should go in this file.
*/

/*------------------------------------*\

*/

@include exports("collections") {

    .collection__grid {
        @media #{$medium-up} {
            @include block-grid($per-row: 2,$spacing: $site-gutter,$base-style: true);
        }
        @media #{$large-up} {
            @include block-grid($per-row: 3,$spacing: $site-gutter,$base-style: true);
        }
        margin-bottom:rem-calc(56) !important;
        li {
            margin-bottom:$site-gutter * 2;
            @media #{$medium-up} {
                margin-bottom:0;
            }
        }
    }

}
