
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "component.mixins";

    /*------------------------------------*\

    /**
    * Variables
    */

    $tile-triangle-size : rem-calc(40);

    /*------------------------------------*\

    /**
    * @title Lists
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    */

    @include exports("tiles") {

    .tile {
        text-align:center;
        a {
            color:$grey-dark;
        }
    }


    .tile__label {
        @extend .epsilon;
        color:$white;
        position:absolute;
        left:50%;
        top:0;
        transform:translateX(-50%);
        z-index:1;
        background:rgba(199, 198, 198, 0.7);
        padding:.5em 1.5em .4em;
        &:before {
            content:'';
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            width:auto;
            z-index:-1;
            height:auto;
            transform:scaleY(0);
            transform-origin:0 0;
            transition:transform $base-timing $base-easing;
            background:$color-active;
        }

        .tile__link:hover & {
            &:before {
                //height:100%;
                transform:scaleY(1)
            }
        }
    }
    .tile__price {
        position:absolute;
        top:0;
        left:0;
        height:$base-spacing-unit * 5.5;
        width:$base-spacing-unit * 5.5;
        text-align:center;
        display:block;
        .tile__price__text {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
        }

    }
    .tile__flags {
        position:absolute;
        top:$base-spacing-unit *3;
        right:$base-spacing-unit *3;
        transform:translateY(-50%);
        .tile__flag {
            display:block;
            position:relative;
            text-transform:uppercase;
            font-size: $milli;
            font-weight:$font-weight-bold;
            line-height:2;
            color:$white;
            &:after,
            &:before {
                content: '';
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%,-0%);
                height: 0;
                width: 0;
                border: 45px solid transparent;
                border-top: 25px solid $green;
                z-index:-1;
            }
            &:after {
                bottom:50%;
                top:auto;
                transform: translate(-50%,0%);
                border: 45px solid transparent;
                border-bottom: 25px solid $green;
            }
            &.flag--sale {
                &:after {
                    border-bottom: 25px solid $orange;
                }
                &:before {
                    border-top: 25px solid $orange;
                }

            }
        }
    }


    .tile__link {
        position:relative;
        display:block;
        border:none;

        &:before {
            border:0 solid $blue;
            display:block;
            transition:border $base-timing $base-easing;
            content:'';
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            height:auto;
            width:auto;
            z-index:-1;
        }
        &:hover:before {
            border-width:$site-gutter;
            z-index:2;
        }

    }

    .tile__figure {
        background:$white;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center top;

        .tile--with-height & {
            height:300px;
            @media #{$medium-up} {
                height:400px;
            }
            @media #{$large-up} {
                height:500px;
            }
            @media #{$xlarge-up} {
                height:600px;
            }
        }
        .tile--with-height--small & {
            height:250px;
            @media #{$medium-up} {
                height:350px;
            }
            @media #{$xlarge-up} {
                height:400px;
            }
        }

        // div[class^='tile--bikes'] &,
        // div[class*=' tile--bikes'] & {
        //     padding-top:$base-spacing-unit;
        //     padding-left: $base-spacing-unit *2;
        //     padding-right: $base-spacing-unit *2;
        // }

        .tile--product & {
            padding-bottom: $base-spacing-unit * 4 ;
        }
        img {
            display:block;
            margin:auto;
            min-height:rem-calc(80);
        }
    }

    .caption {
        background:rgba($white, 0.9);
        padding:$base-spacing-unit;
        transition:background $base-timing $base-easing;
        color:$grey-dark;
        position:absolute;
        margin:$base-spacing-unit;
        bottom:0;
        left:0;
        right:0;
        @media #{$medium-up} {
            bottom:$base-spacing-unit;
            left:$base-spacing-unit;
            .tile & {
                right:$base-spacing-unit;
            }
        }
        .tile__link:hover & {
            background:rgba($white, 1);
        }

        .tile--product & {
            margin-bottom:0;
            margin:0;
            left:0;
            right:0;
            bottom:0;
            background:$white;
            padding-bottom:$base-spacing-unit*1.5;
        }

    }
        .caption__anchor {
            @extend .zeta;
            position:relative;
            color:$blue;
            &:after {
                content:'';
                width:100%;
                position:absolute;
                bottom:-1x;
                height:1px;
                display:block;
                left:0;
                background:$blue-dark;
                transition:transform $base-timing $base-easing;
                transform:scaleX(0);
            }
            .slide-link:hover &,
            .tile:hover & {
                color:$blue-dark;
                &:after {
                    transform:scaleX(1);
                }
            }
        }



    }
