
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "component.mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Sections
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    $Sections Area

    */

    @include exports("sections") {

    %section--fill,
    %section--fill > .row ,
    %section--fill > .row > .columns {
        height:100%
    }

    html {
        background-color:$grey;
    }

    .row {
        max-width:$site-max-width;
    }

        .row--large {
            max-width:100%;
        }

    .section {
        @include clearfix();
        position:relative;
        text-align:left;

    }


    }
