
/**
* Import Mixins to provide modules with exports.
* List other required modules here.
*/

@import "component.mixins";

/*------------------------------------*\

/**
* Variables
*/


/*------------------------------------*\

/**
* @title Forms
*/


/**
*   All Logic pertaining to the top back horizontal navigation
*   should go in this file.
*/

/*------------------------------------*\

$Forms Area

*/

@include exports("filter") {

    .filter__link,
    .filter__select-box {
        display:block;
        float:left;
        text-align:center;
        padding:0 rem-calc(5);
        border-left:1px solid rgba($white, 0.2);
        border-top:1px solid rgba($white, 0.2);
    }
    .filter__select-box {
        width:35%;
     }
     .filter__link {
        width:15%;
        &:first-of-type {
            border-left:none;
        }
     }

    .filter__link a {
        font-weight:$font-weight-bold ;
        text-transform: uppercase;
        letter-spacing: rem-calc(2);
        font-size: $micro;
        display:block;
        color:$white;
        padding:$base-spacing-unit $base-spacing-unit/2 !important;
        @media #{$medium-up} {
            padding:$base-spacing-unit !important;
        }
        position:relative;
        &:hover {
            color:$white;
            &:before {
                transform:scaleY(1);
            }
        }

        &:before {
            content:'';
            position:absolute;
            left:0;
            right:0;
            top:-1px;
            height:rem-calc(5);
            background:$white;
            display:block;
            transition:transform $base-timing $base-easing;
            transform:scaleY(0);
            transform-origin:0 0
        }

    }
}

/*
End Dropddown
*/
