
/**
* Import Mixins to provide modules with exports.
* List other required modules here.
*/

@import "component.mixins";

/*------------------------------------*\

/**
* Variables
*/

$white : #ffffff !default;
$base-spacing-unit:  rem-calc(30) !default;

/*------------------------------------*\

/**
* @title Navs
*/

/*------------------------------------*\

*/

@include exports("navs") {




    .nav {
        list-style:none;
        margin-left:-$base-spacing-unit;
        > li{
            padding-left:$base-spacing-unit;
            margin-bottom:$base-spacing-unit/2;
            font-size: $micro;
            letter-spacing:rem-calc(1);
            position:relative;
            &,
            > a{
                display:inline-block;
                *display:inline;
                zoom:1;
            }
        }

    }

    .nav__heading {
        @extend .epsilon;
    }

    .nav__label {
        font-weight:$font-weight-bold;
    }

    /*
    TOP NAVIGATION COMPONENTS
    */

    .nav--global {
        text-align:center;
        margin:auto;
        > li {
            padding:0 $base-spacing-unit/4;
            margin:0;
            line-height:4;
            text-align:center;
            font-size: $milli;
            position:relative;
            font-weight:$font-weight-bold;

            @media #{$medium-up} {
                line-height:$header-height;
            }
            @media #{$large-up} {
                padding:0 $base-spacing-unit/2;
            }
            @media #{$xlarge-up} {
                padding:0 $base-spacing-unit;
            }

            &:before {
                content:'';
                top:0;
                left:0;
                right:0;
                height:rem-calc(2);
                position:absolute;
                background:$white;
                transition:transform $base-timing $base-easing;
                transform:scaleY(0);
                transform-origin:0 0;
                @media #{$large-up} {
                    left:$base-spacing-unit/2;
                    right:$base-spacing-unit/2;
                }
                @media #{$xlarge-up} {
                    left:$base-spacing-unit;
                    right:$base-spacing-unit;
                }
                @media #{$medium-up} {
                    background:$black;
                    height:rem-calc(5);
                }
            }

            &.nav__item--is-active {
                cursor:default;
                &:before {
                    transform:scaleY(1);
                }
            }
            &:hover {
                &:before {
                    transform:scaleY(1);
                }
            }
            > a {
                border-bottom:none;
                text-transform:uppercase;
                font-weight:$font-weight-bold;
                font-size:$milli;

                @media #{$small-only} {
                    font-size:$nano;
                    display:block !important;

                }
                color:$white;
                &:hover {
                    color:$white;
                }
                @media #{$medium-up} {
                    color:$black;
                    &:hover {
                        color:$black;
                    }
                }
            }
            &.nav__item--more {
                .state-nav-secondary-is-shown & {
                    &:before {
                        transform:scaleY(1);
                    }
                }
            }
        }




    }

    .nav--primary {

    }

    .nav--secondary {

        text-align:left;
        padding:$base-spacing-unit $base-spacing-unit 0 ;
        @media #{$medium-up} {
            padding:0;
            text-align:right;
        }
        ul {
            z-index:1000; //maybe fixe this;

            li {
                line-height:1.4;
                text-align:left;
                font-weight:normal;
                a {
                    font-size: $nano;
                    border:none;
                    color:$white;
                    &:hover {
                        color:$white;
                    }
                    @media #{$medium-up} {
                        color:$black;
                        &:hover {
                            color:$black;
                        }
                    }
                }
                &.nav__item--is-active a {
                    cursor:default;
                    color:$blue;

                }
            }
            @media #{$medium-up} {
                text-align:right;
                background:$white;
                padding:$base-spacing-unit 0 ;
                position:absolute;
                top:50%;
                left:50%;
                margin-top:$base-spacing-unit * 1.3;
                width:100%;
                transform:translate(-50%, 0) rotateX(-90deg);
                opacity:0;
                transform-origin:0% 0%;
                backface-visibility:hidden;
                transition:transform 0 $base-timing, opacity $base-timing $base-easing, box-shadow $base-timing $base-easing;
                min-width:rem-calc(150);
                box-shadow:0 0 0 $grey;
                li {
                    padding:0 $base-spacing-unit;
                }
            }
        }
        @media #{$medium-up} {
            li:hover ul {
                opacity:1;
                transform:translate(-50%, 0) rotateX(0deg);
                transition:transform 0 0, opacity $base-timing $base-easing,  box-shadow $base-timing  $base-timing  $base-easing ;
                box-shadow:$site-gutter $site-gutter 0 $grey;
                &:before {
                    transform:scaleY(1);

                }
            }
        }
        > li {
            text-align:left;
            width:49%;
            display:inline-block;
            vertical-align:top;
            //hide white line on hover for mobile
            @media #{$small-only} {
                &:before {
                    display:none;
                }
            }
            &:after {
                @media #{$medium-up} {
                    content:'';
                    left:0;
                    right:0;
                    height:rem-calc(8);
                    position:absolute;
                    background:$white;
                    transition:all $base-timing $base-easing;
                    transform:scaleY(0);
                    transform-origin:0 100%;
                    top:50%;
                    opacity:0;
                    margin-top:$base-spacing-unit * 1;
                }
                @media #{$large-up} {
                    left:$base-spacing-unit/2;
                    right:$base-spacing-unit/2;
                }
                @media #{$xlarge-up} {
                    left:$base-spacing-unit;
                    right:$base-spacing-unit;
                }
            }
            @media #{$medium-up} {
                text-align:center;
                width:auto;
                &:hover {
                    &:after {
                        opacity:1;
                        transform:scaleY(1);
                    }
                }
            }
            > a {
                text-transform:none;
                cursor:default;
                font-size: $micro;
            }


        }

        .nav__item--close {
            position:absolute;
            right:rem-calc(20);
            top:rem-calc(32);
            width:rem-calc(20);
            a {
                cursor:pointer;
                width:rem-calc(20);
            }

        }





    }


    .nav--pagination {
        &, li {
            text-align:center;
            margin:0;
            padding:0;
        }
        a, span {
            border:none;
            display:block;
            padding:$base-spacing-unit;
            margin-bottom:rem-calc(5);
            position:relative;
            &:before {
                content:'';
                top:auto;
                bottom:0;
                left:0;
                right:0;
                height:rem-calc(5);
                position:absolute;
                background:$black;
                transition:transform $base-timing $base-easing;
                transform:scaleY(0);
                transform-origin:0 100%;
            }
        }
        a:hover, span {
            &:before {
                transform:scaleY(1);
            }

        }
    }





    .nav--social {
        svg {
            transition:fill $base-timing $base-easing;
        }
        a:hover svg {
            fill:$blue-dark;
        }
    }

    .nav--stacked {
        margin-bottom:$base-spacing-unit;
        li {
            display:block;
        }
    }

    .nav--linklist {
        margin-bottom:$base-spacing-unit;
        overflow:hidden;
        li {
            display:block;
            float:left;
            width:25%;
        }
    }


    .mini-cart,
    .search-toggle {
        line-height:1 !important;
        width: rem-calc(40);
        text-align: center;
        cursor:pointer;
        top:50%;
        position:absolute;
        left:rem-calc(40);
        margin-top:rem-calc(20);
        transform:translate(0%, -50%);
        @media #{$medium-up} {
            margin-top:0;
            left:auto;
            width: 100%;
            transform:translate(-30%, -50%);
        }
        &.mini-cart {
            right:rem-calc(40);
            left:auto;
            @media #{$medium-up} {
                right:auto;
                transform:translate(30%, -50%);
            }
        }
        &:after,
        &:before {
            display:none;
        }


        svg {
            margin:auto;
            transition:fill $base-timing $base-easing;
        }
        &:hover {
            color:$grey-dark;
            svg {
                fill:$grey-dark;
            }
        }


    }

    .mini-cart__count {
        display:block;
        position:relative;
        top:$base-spacing-unit/2;
        height:$base-spacing-unit/2;
        font-weight:$font-weight-bold;
        font-size: $nano;
    }
    .search-toggle {

        a {
            transform:translateY(5px);

        }
        svg {

            transition:fill $base-timing $base-easing;
        }
        .state-search-is-shown & {
            svg {
                transition:fill $base-timing $base-easing;
                fill:$grey-dark;
            }

        }
    }


}
