
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "component.mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Links
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    */

    @include exports("links") {

    /**
    * @name A
    * @description Default Link Styles
    * @state :hover,&:focus - hover,& focus state
    * @markup
    *   <a>Markup</a>
    */

    a {
        text-decoration: none;
        line-height: inherit;
        transition:color $base-timing $base-easing, background $base-timing $base-easing;;
        cursor:pointer;
        color:$grey-medium;
        img {
            border:none;
        }
    }

    li a,
    p a {
        border-bottom:1px solid;
        &:hover {
            color:$blue;
        }
    }

    .link--with-image {
        border:none;
    }

    .link--next-prev {
        @extend .epsilon;
        display:block;
        padding:$base-spacing-unit;
        margin-bottom:rem-calc(5);
        position:relative;
        a {
            border:none;
        }

    }

    .link--disabled {
        color:$grey;
    }

    .link--bar {
        display:block;
        width:100%;
        background:$grey-lighter;
        text-align:left;
        line-height:$header__height--mobile;
        padding:0 $base-spacing-unit * 2;
        height:$header__height--mobile;
        position:relative;
        box-shadow:0 0 2px $grey inset;
        @media #{$medium-up} {
            height:$header__height;
            line-height:$header__height;
        }
        .icon {
            position:absolute;
            top:50%;
            right:0;
            padding:$base-spacing-unit;
            transform:translate(-50%, -50%);
        }
        &:hover {
            background:rgba($grey-lighter, 0.5);
        }
    }
    }
