
/**
* Import Mixins to provide modules with exports.
* List other required modules here.
*/

@import "component.mixins";

/*------------------------------------*\

/**
* Variables
*/


/*------------------------------------*\

/**
* @title Lists
*/


/**
*   All Logic pertaining to the top back horizontal navigation
*   should go in this file.
*/

/*------------------------------------*\

*/

@include exports("page") {
    .page {
        background:$white;
    }

    .page__content {
        padding-bottom:$base-spacing-unit * 2;
        columns:2 200px;
        column-gap: $base-spacing-unit * 3;
    }


}
