
/**
* Import Mixins to provide modules with exports.
* List other required modules here.
*/

@import "component.mixins";

/*------------------------------------*\

/**
* Variables
*/


/*------------------------------------*\

/**
* @title Lists
*/


/**
*   All Logic pertaining to the top back horizontal navigation
*   should go in this file.
*/

/*------------------------------------*\

*/

@include exports("tiles") {

    .tile {
        text-align:center;
    }


    .tile__price {
        position:absolute;
        top:0;
        right:0;
        height:$base-spacing-unit * 2.5;
        width:$base-spacing-unit * 5;
        text-align:center;
        display:block;
        background:$primary;
        color:$white;
        transition:width $base-timing $base-easing;
        overflow:hidden;
        .tile__price__text {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
        }
        .icon {
            padding:1px $base-spacing-unit/2;
            position:absolute;
            top:50%;
            left:100%;
            transform:translate(0%, -50%) scale(0);
            transition:transform $base-timing $base-easing;
        }
        .tile__link:hover & {
            width:$base-spacing-unit * 6;
            .icon {
                transform:translate(-100%, -50%) scale(1);;
            }
        }

    }
    .tile__flags {
        position:absolute;
        top:0;
        left:0;
        .tile__flag {
            display:block;
            position:relative;
            background:$white;
            line-height:$base-spacing-unit * 2.5;
            height:$base-spacing-unit * 2.5;
            padding:0 $base-spacing-unit;
        }
    }


    .tile__link {
        position:relative;
        display:block;
        border:none;
        box-shadow:0 0 2px $grey;
    }

    .tile__figure {
        background:$white;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center top;
        .tile--collection &,
        .tile--product & {
            padding-bottom: $base-spacing-unit * 4 ;
        }
        img {
            display:block;
            margin:auto;
            min-height:rem-calc(80);
        }
    }


    .caption {
        background:rgba($white, 0.9);
        padding:$base-spacing-unit;
        transition:background $base-timing $base-easing;
        color:$grey-dark;
        position:absolute;
        margin:$base-spacing-unit;
        bottom:0;
        left:0;
        right:0;
        @media #{$medium-up} {
            bottom:$base-spacing-unit;
            left:$base-spacing-unit;
            .tile & {
                right:$base-spacing-unit;
            }
        }
        .tile__link:hover & {
            background:rgba($white, 1);
        }

        .tile--product & {
            margin-bottom:0;
            margin:0;
            left:0;
            right:0;
            bottom:0;
            background:$white;
            padding-bottom:$base-spacing-unit*1.5;
        }

    }




}
