$header__height--mobile:rem-calc(50) !default;
$header__height:rem-calc(80) !default;

/* --------------------------------

Controls

*/

.cd-header-buttons {
    position: absolute;
    display: inline-block;
    li {
        display: inline-block;
    }

    top: 0;
    right: rem-calc(80);
    &,
    li {
        line-height:$header__height--mobile;
        height:$header__height--mobile;
    }
    @media #{$large-up} {
        &,
        li {
            line-height:$header__height;
            height:$header__height;
        }
    }
}



.cd-search-trigger,
.cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    overflow: hidden;
    white-space: nowrap;
    /* hide text */
    color: transparent;
    z-index: index($header, nav__trigger);;

    &::before,
    &::after {
        /* search icon */
        content: '';
        position: absolute;
        transition: opacity 0.3s;
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}


.cd-search-trigger::before {
    /* lens */
    top: 50%;
    transform:translateY(-50%);
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #2e3233;
    @media #{$large-up} {
    }
}
.cd-search-trigger::after {
    /* handle */
    height: 3px;
    width: 8px;
    background: #2e3233;
    top: 50%;
    right: 11px;
    transform: rotate(45deg)translate(65%, 180%);;
}
.cd-search-trigger span {
    /* container for the X icon */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
    /* close icon */
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #2e3233;
    opacity: 0;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
    transform: rotate(45deg);
}
.cd-search-trigger span::after {
    transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
    /* hide search icon */
    opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
    /* show close icon */
    opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
    transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
    transform: rotate(45deg);
}

.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #2e3233;
}
.cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    transition: background 0.3s 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 0% 50%;
    transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px;
}
.cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
    /* hide line in the center */
    background: rgba(46, 50, 51, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    /* keep visible other 2 lines */
    background: #2e3233;
}
.cd-nav-trigger.nav-is-visible span::before {
    transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
    transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media #{$large-up} {
    .cd-nav-trigger {
        display: none;
    }
}
