
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "component.mixins";
    @import "parts.header.controls";
    @import "parts.header.search";
    @import "parts.header.nav";
    @import "parts.header.cart";
    /*------------------------------------*\

    /**
    * Variables
    */

    $header__height--mobile:rem-calc(50) !default;
    $header__height:rem-calc(80) !default;
    $push-nav__width:rem-calc(260) !default;


    /*------------------------------------*\

    /**
    * @title Sections
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    $Sections Area

    */

    @include exports("header") {


        /* --------------------------------

        Main components

        */
        .cd-main-content,
        .cd-main-header {
            /* Force Hardware Acceleration in WebKit */
            transform: translateZ(0);
            will-change: transform;
            position: relative;
            transition: transform 0.3s;
            &.nav-is-visible {
                transform: translateX(-$push-nav__width);
                @media #{$large-up} {
                    transform: translateX(-0);
                }
            }
        }

        .cd-main-content {
            min-height: 100vh;
            z-index: index($header, content);
            background: $site-background;
            padding-top:$header__height--mobile;
            @media #{$large-up} {
                padding-top:$header__height;
            }
        }

        .cd-main-header {
            height: $header__height--mobile;
            background: #ffffff;
            z-index: index($header, header);
            /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;


            @media #{$large-up} {
                height: $header__height;
                @include clearfix();
            }
        }
        .cd-overlay {
            /* shadow layer visible when navigation is active */
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            background-color: rgba(105, 170, 111, 0.8);
            visibility: hidden;
            opacity: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: opacity .3s 0s, visibility 0s .3s;
        }
        .cd-overlay.is-visible {
            opacity: 1;
            visibility: visible;
            transition: opacity .3s 0s, visibility 0s 0s;
        }

        /* --------------------------------

        support for no js

        -------------------------------- */
        .no-js .cd-primary-nav {
            position: relative;
            height: auto;
            width: 100%;
            overflow: visible;
            visibility: visible;
            z-index: 2;
        }

        .no-js .cd-search {
            position: relative;
            top: 0;
            opacity: 1;
            visibility: visible;
        }

        @media #{$large-up} {
            .no-js .cd-primary-nav {
                position: absolute;
                z-index: 3;
                display: inline-block;
                width: auto;
                top: 0;
                right: 150px;
                padding: 0;
            }

            .no-js .nav-is-fixed .cd-primary-nav {
                position: fixed;
            }
        }


    }
