
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "component.mixins";

    /*------------------------------------*\

    /**
    * Variables
    */

    $font-family-heading: 'sans-serif' !default;

    /*------------------------------------*\

    /**
    * @title Headings
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    $Helpers Area

    */

    @include exports("headings") {



    /**
     * Reusible placeholder classes for headings and weights
     */

    @mixin subheader {
        color:$white;
        display:block;
    }

    //Type Sizes

    h1 { font-size: $h1-font-size - rem-calc(8); }
    h2 { font-size: $h2-font-size - rem-calc(8); }
    h3 { font-size: $h3-font-size}
    h4 { font-size: $h4-font-size - rem-calc(2); }
    h5 { font-size: $h5-font-size; }
    h6 { font-size: $h6-font-size; }

    @media #{$medium-up} {
        h1,h2,h3,h4,h5,h6 { line-height: $header-line-height; }
        h1 { font-size: $h1-font-size; }
        h2 { font-size: $h2-font-size; }
        h3 { font-size: $h3-font-size; }
        h4 { font-size: $h4-font-size; }

    }


    /* Default header styles */
    h1, h2, h3, h4 {
        font-family: $font-family-heading;
        font-weight: $font-weight-medium;
        text-rendering: optimizeLegibility;
        line-height:1.3;


    }

    h5 {
        font-weight:$font-weight-bold ;
        text-transform: uppercase;
        letter-spacing: rem-calc(2);
        font-size: $micro;
    }
    h6 {
        font-size: $micro;
    }

    .subheader { @include subheader; }

    /* Helpers to extend the styles with out the dependance on heirachy */

    .giga {
        font-size:$giga - rem-calc(40);
        @media #{$medium-up} {
            font-size:$giga;
        }
    }

    .alpha {
       @extend h1;
    }

    .beta {
        @extend h2;
    }

    .gamma {
        @extend h3;
    }

    .delta {
        @extend h4;
    }

    .epsilon {
        @extend h5;
    }

    .zeta {
        @extend h6;

    }

    .text--with-icon {
        .text--with-icon__icon {
            position:absolute;
            svg {
                width:rem-calc(50);
            }
        }
        .text--with-icon__text {
            display:inline-block;
            padding:0 rem-calc(60);
        }
    }


    }
