
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "component.mixins";

    /*------------------------------------*\

    /**
    * Variables
    */

    $font-family-base: 'serif' !default;

    /*------------------------------------*\

    /**
    * @title Type
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    */

    @include exports("typography") {


    html, body {
        font-size: 100%;
        line-height:1.4;
        text-align:center;
        color:$grey-dark;
    }

    body {
        font-family: $font-family-base;
    }

    // Text alignment class names
    $align-class-names:
        small-only,
        small,
        medium-only,
        medium,
        large-only,
        large,
        xlarge-only,
        xlarge,
        xxlarge-only,
        xxlarge;

    // Text alignment breakpoints
    $align-class-breakpoints:
        $small-only,
        $small-up,
        $medium-only,
        $medium-up,
        $large-only,
        $large-up,
        $xlarge-only,
        $xlarge-up,
        $xxlarge-only,
        $xxlarge-up;

    // Generates text align and justify classes
    @mixin align-classes{
        .text-left    { text-align: left !important; }
        .text-right   { text-align: right !important; }
        .text-center  { text-align: center !important; }
        .text-justify { text-align: justify !important; }

      	@for $i from 1 through length($align-class-names) {
    	    @media #{(nth($align-class-breakpoints, $i))} {
    	        .#{(nth($align-class-names, $i))}-text-left { text-align: left !important; }
    	        .#{(nth($align-class-names, $i))}-text-right   { text-align: right !important; }
    	        .#{(nth($align-class-names, $i))}-text-center  { text-align: center !important; }
    	        .#{(nth($align-class-names, $i))}-text-justify { text-align: justify !important; }
    	    }
      	}
    }




    @include align-classes;

    /* Typography resets */
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    form,
    p,
    blockquote,
    th,
    td,
    button,
    a {
        margin:0;
        padding:0;
        -webkit-font-smoothing: antialiased;

    }


    // These will throw a deprecation warning if used within a media query.
    @mixin lead {
        font-size: rem-calc(20);
    }

        /* Default paragraph styles */
        p {
            font-family: $font-family-base;
            line-height: 1.5;
            margin-bottom: $base-spacing-unit;
            text-rendering: $paragraph-text-rendering;
            font-size: $p-size;
         	&.lead { @include lead; }
        }

        hr {
        	border: $hr-border-style $hr-border-color;
    		border-width: $hr-border-width 0 0;
    		clear: both;
    		margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
    		height: 0;
        }

        /* Helpful Typography Defaults */
        em {
    		font-style: italic;
    		line-height: inherit;
        }

        strong,
        b,
        .bold {
    		font-weight: $font-weight-bold;
    		line-height: inherit;
        }

        .highlight {
            color:$primary;
        }

        .small {
            font-size:$micro;
            letter-spacing:rem-calc(1);
        }

        .block-level {
            display:block;
        }

        .address {
            .name {
                display:block;
            }
            a {
                display: block;
            }
        }

        .screen-text {
            @include element-invisible();
        }

        /*
        Text coming in from CMS
        */
        .formatted {
            p{
                break-inside: avoid-column;
                font-size:$milli;

                    &.p1 {
                        @extend .lead;
                        column-span: all;
                    }

            }

            h1, h2, h3, h4 {
                padding-bottom:$base-spacing-unit;
            }

            h4 {
                position:relative;
                padding-top:$base-spacing-unit;
                &:before {
                    content:' ';
                    top:0;
                    left:0;
                    width:$base-spacing-unit;
                    height:1px;
                    position:absolute;
                    display:block;
                    background:$grey;
                }
            }
            ul {
                @extend .list--bulleted;
            }
            table {
                margin-left:-$base-spacing-unit * 2;
                margin-right:-$base-spacing-unit * 2;

                th {
                    @extend .epsilon;
                }
                td, th {
                    padding:$site-gutter $base-spacing-unit $site-gutter;
                    font-size:$micro;
                    vertical-align:top;
                    border-bottom:1px solid $grey-light;
                }
                td {
                }

            }
        }
    }
