<section class="section--404 section--with-border">

    <div class="row" >
        {% comment %}
        It's likely people won't have items in the cart sometimes.
        Do something fun here, it's a great chance to show your company's human side.
        {% endcomment %}
        <div class="columns small-12 text-center">
            <h1 class="soft-double--bottom">The page you requested does not exist.</h1>
            <p class="soft-double--bottom"><a class="btn btn--primary" href="/collections/all">continue shopping</a> <a class="btn btn--tertiary" href="/">go to Homepage</a></p>
        </div>
    </div>
</section>
