<a class="mini-cart" href="/cart" bow-mini-cart cart-count="{{cart.item_count}}">
    <span class="screen-text">View Cart</span>
    <span class="mini-cart__count" ng-cloak >{[{ cartCount }]}</span>
    <svg class="svg--cart"><use xlink:href="#cart" /></svg>
</a>
